HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


src/main/java/hicc_project/RottenToday/config/OpenAiProperties.java
src/main/resources/application.properties
# Gradle/Java
.gradle/
build/
out/
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Local overrides (프로덕션 서버 전용 파일)
#/opt/rottentoday/application.properties  # <- 리포지토리 밖이라 상관없지만 혹시 경로가 repo 안에 있으면 포함 금지
app.jar
*.jar
# Build/Gradle
build/
out/
.gradle/
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# JAR 등 대용량 산출물
*.jar
app.jar
